Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @fivehoho75 Sign out
1
0 0 fivehoho75/base-react
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
base-react/.gitignore
3b09629  5 days ago
@fivehoho75 fivehoho75 adding redux and eslint(airbnb)
     
26 lines (18 sloc)  313 Bytes
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.lock

package-lock\.json
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.